@media(max-width: 600px) {
   #main{
    height: 100%;
    width: 120vw;
    position: relative;
   }
    #nav {
        height: 100px;
        width: 100%;
        /* background-color: #000; */
        display: flex;
        align-items: center;
        padding: 15px 40px 0 40px;
        justify-content: flex-start;
        gap: 45px;

        position: fixed;
        z-index: 99;
    }

    #nav i {
        display: block;
        font-size: 5vw;
        font-weight: 600;
        cursor: pointer;
    }

    #nav img {
        height: 55px;
        border-radius: 35px;
    }

    #nav h4 {
        font-weight: 500;
        cursor: pointer;
        visibility: hidden;
    }

    video{
        height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    }

}