* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-family: "Poppins", sans-serif;
    color: #fff;
  }
  
  html,
  body {
    height: 100%;
  
    width: 100%;
  }
  #nav{
      height: 120px;
      width: 100%;
      background-color: red;
      display: flex;
      align-items: center;
      padding: 0 150px;
      justify-content: flex-start;
      gap: 45px;
      font-weight: 500;
      position: fixed;
      z-index: 99;
  }
  #nav img{
    height: 65px;
    border-radius: 35px;
  }
  #nav h4{
      font-weight: 500;
  }
  video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
  }